body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.chat-sidebar {
    background-color: #3d576f;
    width: 25%;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-logo {
    width: 80%;
    margin-bottom: 20px;
}

.chat-search {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-list {
    list-style: none;
    padding: 0;
    width: 100%;
    overflow-y: auto;
}

.chat-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #547393;
    color: #FFF;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-item-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-lock-icon {
    margin-left: auto;
    font-size: 18px;
}


.chat-main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfdfdf;
    padding: 20px;
}

.chat-placeholder {
    text-align: center;
}

.chat-placeholder-img {
    width: 300px;
    margin-bottom: 20px;
}
